
<div class="container-fluid orderPage">  
  <div class="row orderHeader"> 
      <h1 class="center">order</h1>
  </div>

  <div class="row formsection justify-content-center">
    <div class="subForm">

        <div class="form-group">
            <select class="testForm" for="date" id="date_selection">
                <option>date</option>
                <% @dayCollection.each do |dc| %>
                  <option > <%= Date.parse(dc).strftime('%A, %B %e, %Y') %> </option>
                <% end %>
            </select> 
        </div>

        <div class="form-group">
          <select class="testForm" id="pickupTime">
            <option>pick up time</option>
            <option>9AM-12PM</option>
            <option>12PM-3PM</option>
            <option>3PM-6PM</option>
            <option>6PM-9PM</option>
          </select>
        </div> 

        <div class="form-group">
              <input type="text" class="testForm" id="guestName" placeholder="Full Name*" required >
        </div> 

        <div class="form-group">
          <input type="tel" class="testForm" id="guestNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="555-555-5555*" required>
        </div>

        <div class="form-group">
          <input type="textarea" class="testForm" id="order_notes" placeholder="Message For Baker" required> 
        </div>


        <div class="col-10">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="call_pref" value="option1">
            <label class="form-check-label" for="call_pref">I may call you</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="text_pref" value="option2">
            <label class="form-check-label" for="text_pref">I may text you</label>
          </div> 
        </div>

    </div>    
  </div>

  <p class="pull-right">*Required Fields</p>
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>

  <div class="row breadSelection">
    <div class="col-sm-12 col-md-12 col-lg-12 orderInfo">
        <table class="table">
          <thead>
            <tr>
              <th  >Bread Type: </th>
              <th  >Bread Quantity: </th>
            </tr>
          </thead>

          <tbody id="tableToMod">
              <tr id="rowToClone">
                <td id ="loafSelection" class="loafType" > <%= collection_select(:name, :loaf_id, @loafs, :id, :name, {:prompt => true}, class: 'form-control') %></td>
                <td class="loafQuantity" > <input type="" name="" class="form-control"> </td> 
              </tr>
          </tbody>
        </table>

        <button id="submitNewOrder" type="button" class="btn btn-outline-dark btn-block" disabled="true" >Submit Order</button>

        <button id="add_row" type="button" onclick="cloneRowMethod()" class="btn btn-outline-dark btn-block">Add Row</button>

    </div>
  </div>



<script type="text/javascript">

  function cloneRowMethod(){
    var table = document.getElementById('tableToMod')
    var row = document.getElementById('rowToClone')
      var cloneRow = row.cloneNode(true)
    cloneRow.id = "newID"
    table.appendChild(cloneRow);
  }

  var orderBtn = document.getElementById('submitNewOrder');
  var guestName = document.getElementById('guestName');
  var guestNumber = document.getElementById('guestNumber'); 
  var loafSelection = document.getElementById('loafSelection')

  loafSelection.addEventListener('change', function(e){
    if(e.srcElement.options[e.srcElement.selectedIndex].text == 'Sourdough'){
      alert("Sourdough takes at least 3 Days")
    }
  })



  guestName.addEventListener("keyup", function(){
    if (guestName.value.length >= 3){
      orderBtn.disabled = false;
    }
    if (guestName.value.length < 3){
      orderBtn.disabled = true;
    }

    
  })

</script>