
<div class="container-fluid orderPage"> 
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 borderMe">
      <h1 class="center"> <%= @day.this_date.strftime("%m/%d/%Y") %></h1>

    </div>
  </div>
    <p id="notice"><%= notice %></p>

  <div class="row formsection">
    <div class="col-sm-12 col-md-12 col-lg-12 orderInfo">
        <% if @day.closed == true || @day.avaliable_spots == 0 %>
          <h3 style="color: red; text-align: center;">No Loaf For You Today. Try Tomorrow!</h3>
        <% else %> 
        <h3 class="center">ORDER INFO</h3>
        <div class="form-group">
          <input type="email" class="testForm" id="guestName" placeholder="Full Name*" required >
        </div>

        <div class="form-group">
          <input type="tel" class="testForm" id="guestNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="555-555-5555" required>
        </div>

        <div class="form-group">
          <input type="email" class="testForm" id="guestEmail" placeholder="Email Address" required>
        </div>

          <div class="form-group">
            <input type="textarea" class="testForm" id="order_notes" placeholder="Message For Baker" required>
          </div>

          <div class="form-group">
            <select class="testForm" id="pickupTime">
              <option>Pick Up Time</option>
              <option>9AM-12PM</option>
              <option>12PM-3PM</option>
              <option>3PM-6PM</option>
              <option>6PM-9PM</option>
            </select>
          </div>
    </div>    
  </div>

  <div class="row checkboxOrder">
    <div class="col-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="call_pref" value="option1">
          <label class="form-check-label" for="call_pref">Calls are cool</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="text_pref" value="option2">
          <label class="form-check-label" for="text_pref">Text are cool</label>
        </div> 
      </div>
  </div>



  <div class="row breadSelection">
    <div class="col-sm-12 col-md-12 col-lg-12 orderInfo">
        <h3 class="center">Select Bread</h3>
        <table class="table">
          <thead>
            <tr>
              <th class="text-white" >Type: </th>
              <th class="text-white" >Quantity: </th>
            </tr>
          </thead>

          <tbody id="tableToMod">
              <tr id="rowToClone">
                <td id ="loafSelection" class="loafType" > <%= collection_select(:name, :loaf_id, @loafs, :id, :name, {:prompt => true}, class: 'form-control') %></td>
                <td class="loafQuantity" > <input type="" name="" class="form-control"> </td> 
              </tr>
          </tbody>
        </table>
        <button id="submitOrder" type="button" class="btn btn-outline-primary btn-block" disabled="true" >Get This Bread</button>

        <button id="add_row" type="button" onclick="cloneRowMethod()" class="btn btn-outline-warning btn-block">More Bread</button>

      <% end %>
        <hr>
      </div>
  </div>



    <p id="orderDate" style="display: none;"> <%= @day.this_date.strftime("%Y-%m-%d") %></p>
  </div>
  
</div>

<script type="text/javascript">

	function cloneRowMethod(){
		var table = document.getElementById('tableToMod')
		var row = document.getElementById('rowToClone')
	    var cloneRow = row.cloneNode(true)
		cloneRow.id = "newID"
		table.appendChild(cloneRow);
	}

  var orderBtn = document.getElementById('submitOrder');
  var guestName = document.getElementById('guestName');
  var guestNumber = document.getElementById('guestNumber'); 
  var loafSelection = document.getElementById('loafSelection')

  loafSelection.addEventListener('change', function(e){
    console.log("here", e.srcElement.options[e.srcElement.selectedIndex].text)
    if(e.srcElement.options[e.srcElement.selectedIndex].text == 'Sourdough'){
      alert("Sourdough takes at least 3 Days")
    }
  })



  guestName.addEventListener("keyup", function(){
    if (guestName.value.length >= 3){
      orderBtn.disabled = false;
    }
    if (guestName.value.length < 3){
      orderBtn.disabled = true;
    }

    
  })

</script>