<div class="row sectionTwo">
	<% @category.each do |cat| %>
		<% if cat.active != false %>
		<div class="col-sm infoBox">
			
			<ul class="menu_list">
				<h3 class="center"><%= cat.name %>: $<%= cat.price %></h3>
			<% @loafs.each do |loaf| %>
				<% if loaf.category_id == cat.id %>
					<li><%= loaf.name %> </li>
				<% end %>
			<% end %>
			</ul>
		</div>
		<% end %>
	<% end %>
</div>