<div class="row Menu2">
	<% @category.each do |cat| %>
		<% if cat.active != false %>
		<div>
			
			<ul class="menu_list">
				<h3 ><%= cat.name %>: $<%= cat.price %></h3>
			<% @loafs.each do |loaf| %>
				<% if loaf.category_id == cat.id %>
					<% if loaf.active.item == true %>
						<li><%= loaf.active.item %></li>
						<li> <%= loaf.name %> </li>
					<% end %>
				<% end %>
			<% end %>
			</ul>

		</div>
		<% end %>
	<% end %>
</div>