<div class="row flex">
	<% @loafs.each do |x| %>
		<% if x.image.attached? == true %>
	    	<div class="col-lg-4 col-sm-6">
				  <div class="thumbnail">
				    <%= image_tag(x.image) %>
				  </div>
		    </div>
		<% else %> 
					    	<!--
					    	<div class="carousel-item" %>
								  <div class="carousel-caption  ">
								    <h4><i style="color:rgb(255, 205, 94);"><%= x.name %></i></h4>
								    <p>  <%= x.ingredients %> </p>
								  </div>
						    </div>
							-->
		<% end %>
	<% end %>
</div>



