<div class="jumbotron">
  <h1 class="display-4">Hey there!</h1>
  <p class="lead">My name is Scott Lawrence and I'm a self taught baker that's been baking bread out of my apartment for the last 3 and a half years.</p>
  <hr class="my-4">
	<h6>
	It's something that started out as a hobby then quickly exploded into a passion amidst the lockdown at the beginning of the covid-19 pandemic. Such to the degree that I decided to completely pivot my career in hopes that I can bake bread for my community full time. At the core of this little endeavor is a desire to help those less fortunate. From the beginning, I've strived to identify a local non profit to give to. I now choose a different local non profit every month and donate 10% of all sales. I can't say that I know much about this life, but I do know that everyone deserves love. No if's ands or but's about it. I believe that if we want to help people, that the first place we can start is our own backyard. It's been this philosophy that has led me to be able to raise money for multiple local non profits. As I continue to embark on this new and exciting journey, I'd love it if you'd let me bake you something delicious, possibly healthy, and that will fill not just your stomachs, but your heart as well. (peace, love, bread)
	</h6>
</div>
