<h1> FAQ </h1>
<ol>
	<li>
		<h3> How to order:</h3>
		<p> Fill out the form, email me, or message me on instagram</p>
	</li>
	<li>
		
<h3>Where to pick up: </h3>
<p>Curbside pickup at 440 Coit Rd, Plano, TX 75075
OR: The Coppell Farmers Market on select Saturdays from 8a-12p</p>
	</li>
	<li>
		<h3>Payment options:</h3>

<p>Cash
Venmo @ scottlawrence
Paypal @ scottyfnbakes@gmail.com
Zelle - 713.392.3355
Cash App - $scottyfnbakes</p> 
	</li>
	<li>
		
	</li>
</ol>

