


<div class="container-fluid">
	<h1 class="center"> FAQ </h1>
	<div class="row">
		<ol >
			<li>
				<h3> How to order?</h3>
				<p> Fill out the form, email me, or message me on instagram</p>
			</li>
			<li>
				<h3>Where to pick up?</h3>
				<p>Curbside pickup at 440 Coit Rd, Plano, TX 75075</p>
				<a href="http://maps.apple.com/?address=440+Coit+Rd,+Plano,+TX+75075&t=m" target="_blank">Click here for Apple map</a><br>

				<p>Google</p>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3345.961720325519!2d-96.7685211488003!3d33.004784680809976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c22144e4f3409%3A0xbd99a1ef08c02454!2s440%20Coit%20Rd%2C%20Plano%2C%20TX%2075075!5e0!3m2!1sen!2sus!4v1604884087988!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

				<p>--- --- --- OR --- --- ---</p>
				<p> The Coppell Farmers Market on select Saturdays from 8AM-12PM</p>




			</li>
			<li>
				<h3>Payment options?</h3>
				<ul>
					<li>Cash</li>
					<li>Venmo @ scottlawrence</li>
					<li>Paypal @ scottyfnbakes@gmail.com</li>
					<li>Zelle - 713.392.3355</li>
					<li>Cash App - $scottyfnbakes</li>

				</ul>				
			</li>
		</ol>
	</div>
</div>

