


<div class="container-fluid">
	<h1 class="center"> FAQ </h1>
	<div class="row">
		<ol >
			<li>
				<h3> How to order?</h3>
				<p> Fill out the form, email me, or message me on instagram</p>
			</li>
			<li>
				<h3>Where to pick up?</h3>
				<p>Curbside pickup at 440 Coit Rd, Plano, TX 75075</p>


				<p>--- --- --- OR --- --- ---</p>
				<p> The Coppell Farmers Market on select Saturdays from 8AM-12PM</p>




			</li>
			<li>
				<h3>Payment options?</h3>
				<ul>
					<li>Cash</li>
					<li>Venmo @ scottlawrence</li>
					<li>Paypal @ scottyfnbakes@gmail.com</li>
					<li>Zelle - 713.392.3355</li>
					<li>Cash App - $scottyfnbakes</li>

				</ul>				
			</li>
		</ol>
	</div>
</div>

