


<div class="container-fluid faqStyling">
	<h1 class="center"> FAQ </h1>
	<div class="row">
		<ol>
			<li style="font-size: 20px;">
				<h3>Can I preorder for the farmers market?</h3>
				<p>No preorders, first come first serve</p>
			</li>

			<li style="font-size: 20px;">
				<h3> How to order?</h3>
				<p> Fill out the form, email me, or message me on Instagram</p>
			</li>

			<li style="font-size: 20px;">
				<h3>Where to pick up?</h3>
				<p>Curbside pickup</p>
				<p>440 Coit Rd, Plano, TX 75075</p>
				<a href="http://maps.apple.com/?address=440+Coit+Rd,+Plano,+TX+75075&t=m" target="_blank">Click here for Apple map</a><br>
				
				<a href="https://goo.gl/maps/TRoFGtxeDrxr1jec6">Click here for Google Maps</a>

				<hr>

				<p> The Coppell Farmers Market on select Saturdays from 8AM-12PM</p>
				<p>768 Main St. Coppell, TX 75019 </p>

				<a href="http://maps.apple.com/?address=769+Main+St,+Coppell,+TX+75019&t=m" target="_blank">Click here for Apple map</a><br>

				
				<a href="https://www.google.com/maps?q=768+West+Main+Street,+Coppell,+TX+75019,+USA">Click here for Google Maps</a>

			</li>

			<li style="font-size: 20px;">
				<h3>Payment options?</h3>
				<ul>
					<li>Cash: the cold hard stuff</li>
					<li>Venmo @ scottlawrence</li>
					<li>Paypal @ scottsbakeshop@gmail.com</li>
					<li>Zelle - 713.392.3355</li>
					<li>Cash App - $scottsbakeshop</li>
				</ul>				
			</li>
		</ol>
	</div>
</div>

<script>
	// Initialize and add the map
	function initMap() {
	  // The location of Uluru
	  var uluru = {lat: 33.004600, lng: -96.766260};
	  // The map, centered at Uluru
	  var map = new google.maps.Map(
	      document.getElementById('map'), {zoom: 11, center: uluru});
	  // The marker, positioned at Uluru
	  var marker = new google.maps.Marker({position: uluru, map: map});
	}
</script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=xxx&callback=initMap">
</script>

