
<!-- Photo Stuff//Photo Stuff//Photo Stuff//Photo Stuff//Photo Stuff//-->

<!-- Section Three // Section Three // Section Three // Section Three // Section Three //  -->

<div class="container-fluid">
    <div class="row sectionThree">
		<!-- Mobile Calendar -->
		<div class="col-sm-12 col-md-12 col-lg-12" id="mobile_calendar">
			<h1 class="center">Order Online Now</h1>
			<p>Offering Curbside Pickup</p>

			<%= link_to 'Order Online Now!', new_order_path, class: 'btn btn-outline-warning btn-lg text-white' %>
			<hr>
		</div>
	</div>
<!-- Section Three // Section Three // Section Three // Section Three // Section Three //  -->
<%= render partial: 'menu2' %>
<%= render partial: 'photoGrid' %>
<%= render partial: 'marketing' %>

</div>
	
	<!-- Section Two --> 
	<div class="row mapSection">
		<div id="map" class="col-lg col-md col-sm"></div>
	</div>


<div id="footer" class="py-4 text-white-50 container-fluid">
    <div class="row">
    	<div class="col-lg col-md col-sm text-left">
		     <h5>Scotty Fn Bakes <br>
		      440 Coit Rd<br>
		      Plano, TX 75075 
		      <sub></sub>
		  	</h5>
		  	<h6>Operating under the <a class="text-white" href="https://texascottagefoodlaw.com/">Texas Cottage Act</a>
		  	</h6>
    	</div>
    	<div class="col-lg col-md col-sm" style="bottom: 0;">
		     <h6 class="text-left" >Made By GlassMinds LLC</h6>	
    	</div>
    </div>
</div>


<script>
	// Initialize and add the map
	function initMap() {
	  // The location of Uluru
	  var uluru = {lat: 33.004600, lng: -96.766260};
	  // The map, centered at Uluru
	  var map = new google.maps.Map(
	      document.getElementById('map'), {zoom: 11, center: uluru});
	  // The marker, positioned at Uluru
	  var marker = new google.maps.Marker({position: uluru, map: map});
	}
</script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=xxx&callback=initMap">
</script>



