/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "simple_calendar"; 
//
*{

}
body{

} 

html {
  overflow-x: hidden;
}

.header_div a:hover{
	background-color: transparent;
}


.mapSection{
	overflow-x: hidden;	
	width: 99%;
	margin: auto;
	padding-top: 1px;
}

.logo_image img{
	height: 150px;
	margin-top: -30px;
	margin-bottom: -45px;

}
.nav_div{
	height: 50px;
}
.header_div{
	max-height: 200px;
}


/* rgb(245, 239, 227) WHITE //// rgb(255, 205, 94) YELLOW // 59, 97, 148 BLUE    */
/* Unless width is 576px, this is true*/
@media (min-width: 576px){ 
	.mobile_View {
		text-align: right;
	}
	.navbar{
	  	display: none;
	}

}
@media (max-width: 576.98px) {
  
  .desktop_View{
    display: none;
  }

  
} 