/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "simple_calendar";


body{
	background-color: #F6F6F6;
    width: 100%;
}
 
html {
  overflow-x: hidden;
}

.logo_image{
    text-align: center;
}
.logo_image img{
	height: 220px;
	margin: auto;
}

.introSection {
	text-align: center;
    font-size: 25px;
    width: 100%;
}

.introSection h4{
    color: black;
    margin: auto;
    padding: auto;
}

.signature {
    color: white;
    margin: auto;
}
.signature a {
    font-size: 30px;
    color: white;
    text-align: center;
}
.signature a:link{
    color: white;
    font-size: 30px;
}
.signature a:visited{
    color: white;
    font-size: 30px;
}
.signature a:hover{
    color: white;
    font-size: 30px;
    background-color: transparent;
}
.signature a:active{
    color: white;
    font-size: 30px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
    text-align: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}






