// Place all the styles related to the landingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
            display: block;
            position: absolute;
            width: 100%;
            overflow-x: hidden;
            height: 550px;
            line-height: 1;
            margin: 0 auto;
}

.sectionTwo{
	height: auto;
	background-color: rgb(245, 239, 227);
	color: rgb(255, 205, 94);
}

.sectionTwo .infoBox h3{
	text-align: center;
}
.sectionTwo ul {
	list-style: none;
}
.sectionTwo sub {
	color: black;
	padding-left: 15px;
}
.infoBox{
	vertical-align: top;
}

.sectionThree{
	padding-left: 10px;
	padding-right: 50px;
}


.carousel-item {
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}