// Place all the styles related to the landingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.introSection {
  text-align: center;
  font-family: 'Yellowtail', cursive;
  font-size: 20px;
  }
.introSection h4{
  color: #3B6194;
  margin: auto;
  padding: auto;
}

.signature a {
  font-family: 'Yellowtail', cursive;
  font-size: 30px;
  color: rgb(255, 205, 94);
}
.signature a:link{
    color: rgb(255, 205, 94);
  font-size: 30px;
}
.signature a:visited{
    color: rgb(255, 205, 94);
  font-size: 30px;
}
.signature a:hover{
  color: rgb(255, 205, 94);
  font-size: 30px;
  background-color: transparent;
}
.signature a:active{
    color: rgb(255, 205, 94);
  font-size: 30px;
}

/* SECOND SECTION */
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
            display: block;
            position: absolute;
            width: 100%;
            overflow-x: hidden;
            height: 550px;
            line-height: 1;
            margin: 0 auto;
}
.carousel-caption h4 {
font-family: 'Yellowtail', cursive;
font-size: 30px;
text-shadow: 2px 2px black;
}

.carousel-caption p {

text-shadow: 2px 2px black;
}

.infoBox{
  vertical-align: top;
  font-family: 'Yellowtail', cursive;
  margin: 15px;
  border: 1px solid;
  border-color: black;
  color: black;
  box-shadow: 3px 6px #888888;
  background: image_url('linedpaper.png');
}
.infoPhoto{
  margin: 15px;
  border: 1px black solid;
}
.sectionTwo{
	height: auto;
  background-color: rgb(245, 239, 227); 
}

.sectionTwo h3{
	text-align: center;
  font-family: 'Cabin Sketch', cursive;
  text-shadow: 2px 2px #FFCC5E;
}
.sectionTwo ul {
	list-style: none;
  font-family: 'Yellowtail', cursive;
  font-size: 20px;
}
.sectionTwo li {
  padding-top: 15px;
}
.sectionTwo sub {
	color: black;
	padding-left: 15px;
  font-family: 'Yellowtail', cursive;
  font-size: 12px;
}



/* SECTION THREE */
.sectionThree{
	padding-left: 10px;
	padding-right: 50px;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  background-color: rgb(245, 239, 227); 
}
.sectionThree h3{
 text-align: center; 
 color: black;
}

.carousel-item {
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#calendar {
  margin: auto;
  overflow-x: scroll;
}

.day_selector{
    font-family: 'Anonymous Pro', monospace;
}

.day{
  color: #2B7AF0;
  font-family: 'Anonymous Pro', monospace;
}
.calendar-heading a {
  display: none;
}

#footer {
  background-color: rgb(43, 123, 239); 
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }